Main/StoreManager/PresentationLayer/WebApplication/Service References/ServiceReferenceCustomerServiceData/CustomerServiceData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cpu14:8081/CustomerServiceData?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" />
  <xs:import schemaLocation="http://cpu14:8081/CustomerServiceData?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UtnEmall.Server.Base" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="customerServiceDataEntity" nillable="true" type="q1:CustomerServiceDataEntity" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="SaveResult" nillable="true" type="q2:CustomerServiceDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="customerServiceDataEntity" nillable="true" type="q3:CustomerServiceDataEntity" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="DeleteResult" nillable="true" type="q4:CustomerServiceDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="GetCustomerServiceDataResult" nillable="true" type="q5:CustomerServiceDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerServiceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerServiceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="GetAllCustomerServiceDataResult" nillable="true" type="q6:ArrayOfCustomerServiceDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceDataWhere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expValue" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UtnEmall.Server.Base" minOccurs="0" name="operatorType" type="q7:OperatorType" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceDataWhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="GetCustomerServiceDataWhereResult" nillable="true" type="q8:ArrayOfCustomerServiceDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceDataWhereEqual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expValue" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceDataWhereEqualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="GetCustomerServiceDataWhereEqualResult" nillable="true" type="q9:ArrayOfCustomerServiceDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UtnEmall.Server.EntityModel" minOccurs="0" name="customerServiceData" nillable="true" type="q10:CustomerServiceDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>