trunk/Main/StoreManager/PresentationLayer/WebApplication/Service References/ServiceReferenceServiceBuilder/ServiceBuilder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cpu11:8081/ServiceBuilder?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" />
  <xs:element name="BuildAndImplementInfrastructureService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="serviceDataModel" nillable="true" type="q1:DataModelEntity" />
        <xs:element minOccurs="0" name="sessionIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildAndImplementInfrastructureServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildAndImplementInfrastructureServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildAndImplementCustomService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="serviceModel" nillable="true" type="q2:CustomerServiceDataEntity" />
        <xs:element minOccurs="0" name="sessionIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildAndImplementCustomServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildAndImplementCustomServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>