Main/ServerManager/ServerManager/Service References/SAL.User/User1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="User" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://notebookalexis:8081/User?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://notebookalexis:8081/User?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://notebookalexis:8081/User?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" />
      <xsd:import schemaLocation="http://notebookalexis:8081/User?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Janus.Server.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IUser_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUser_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUser_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IUser_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_GetUserWhere_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWhere" />
  </wsdl:message>
  <wsdl:message name="IUser_GetUserWhere_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWhereResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_GetUserWhereEqual_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWhereEqual" />
  </wsdl:message>
  <wsdl:message name="IUser_GetUserWhereEqual_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWhereEqualResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="IUser_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Save" message="tns:IUser_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/SaveResponse" message="tns:IUser_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Delete" message="tns:IUser_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/DeleteResponse" message="tns:IUser_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUser" message="tns:IUser_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserResponse" message="tns:IUser_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetAllUser" message="tns:IUser_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetAllUserResponse" message="tns:IUser_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserWhere">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUserWhere" message="tns:IUser_GetUserWhere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserWhereResponse" message="tns:IUser_GetUserWhere_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserWhereEqual">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUserWhereEqual" message="tns:IUser_GetUserWhereEqual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserWhereEqualResponse" message="tns:IUser_GetUserWhereEqual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Validate" message="tns:IUser_Validate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/ValidateResponse" message="tns:IUser_Validate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUser" type="tns:IUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IUser/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUser/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IUser/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserWhere">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUserWhere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserWhereEqual">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUserWhereEqual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/IUser/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="BasicHttpBinding_IUser" binding="tns:BasicHttpBinding_IUser">
      <soap:address location="http://notebookalexis:8081/User" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>