Main/StoreManager/PresentationLayer/WebApplication/Service References/ServiceReferenceServiceBuilder/ServiceBuilder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ServiceBuilder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cpu11:8081/ServiceBuilder?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cpu11:8081/ServiceBuilder?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cpu11:8081/ServiceBuilder?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBuilder_BuildAndImplementInfrastructureService_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildAndImplementInfrastructureService" />
  </wsdl:message>
  <wsdl:message name="IServiceBuilder_BuildAndImplementInfrastructureService_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildAndImplementInfrastructureServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBuilder_BuildAndImplementCustomService_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildAndImplementCustomService" />
  </wsdl:message>
  <wsdl:message name="IServiceBuilder_BuildAndImplementCustomService_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildAndImplementCustomServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBuilder">
    <wsdl:operation name="BuildAndImplementInfrastructureService">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBuilder/BuildAndImplementInfrastructureService" message="tns:IServiceBuilder_BuildAndImplementInfrastructureService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBuilder/BuildAndImplementInfrastructureServiceResponse" message="tns:IServiceBuilder_BuildAndImplementInfrastructureService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildAndImplementCustomService">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBuilder/BuildAndImplementCustomService" message="tns:IServiceBuilder_BuildAndImplementCustomService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBuilder/BuildAndImplementCustomServiceResponse" message="tns:IServiceBuilder_BuildAndImplementCustomService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBuilder" type="tns:IServiceBuilder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildAndImplementInfrastructureService">
      <soap:operation soapAction="http://tempuri.org/IServiceBuilder/BuildAndImplementInfrastructureService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildAndImplementCustomService">
      <soap:operation soapAction="http://tempuri.org/IServiceBuilder/BuildAndImplementCustomService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBuilder">
    <wsdl:port name="BasicHttpBinding_IServiceBuilder" binding="tns:BasicHttpBinding_IServiceBuilder">
      <soap:address location="http://cpu11:8081/ServiceBuilder" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>