Main/StoreManager/PresentationLayer/WebApplication/Service References/ServiceReferenceCustomer/Customer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cpu11:8081/Customer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" />
  <xs:import schemaLocation="http://cpu11:8081/Customer?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Janus.Server.Base" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="customerEntity" nillable="true" type="q1:CustomerEntity" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="SaveResult" nillable="true" type="q2:CustomerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="customerEntity" nillable="true" type="q3:CustomerEntity" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="DeleteResult" nillable="true" type="q4:CustomerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="GetCustomerResult" nillable="true" type="q5:CustomerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="GetAllCustomerResult" nillable="true" type="q6:ArrayOfCustomerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerWhere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Janus.Server.Base" minOccurs="0" name="operatorType" type="q7:OperatorType" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerWhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="GetCustomerWhereResult" nillable="true" type="q8:ArrayOfCustomerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerWhereEqual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerWhereEqualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="GetCustomerWhereEqualResult" nillable="true" type="q9:ArrayOfCustomerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="customer" nillable="true" type="q10:CustomerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>