trunk/Main/StoreManager/PresentationLayer/WebApplication/Service References/ServiceReferenceCategory/Category.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cpu11:8081/Category?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" />
  <xs:import schemaLocation="http://cpu11:8081/Category?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Janus.Server.Base" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="categoryEntity" nillable="true" type="q1:CategoryEntity" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="SaveResult" nillable="true" type="q2:CategoryEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="categoryEntity" nillable="true" type="q3:CategoryEntity" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="DeleteResult" nillable="true" type="q4:CategoryEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="GetCategoryResult" nillable="true" type="q5:CategoryEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="GetAllCategoryResult" nillable="true" type="q6:ArrayOfCategoryEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryWhere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Janus.Server.Base" minOccurs="0" name="operatorType" type="q7:OperatorType" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryWhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="GetCategoryWhereResult" nillable="true" type="q8:ArrayOfCategoryEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryWhereEqual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadRelation" type="xs:boolean" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryWhereEqualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="GetCategoryWhereEqualResult" nillable="true" type="q9:ArrayOfCategoryEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Janus.Server.EntityModel" minOccurs="0" name="category" nillable="true" type="q10:CategoryEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>